---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@font-face{
  font-family: 'Source Code Pro';
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  src: url('http://adobe-fonts.github.io/source-code-pro/EOT/SourceCodePro-Medium.eot') format('embedded-opentype'),
  url('http://adobe-fonts.github.io/source-code-pro/WOFF/OTF/SourceCodePro-Medium.otf.woff') format('woff'),
  url('http://adobe-fonts.github.io/source-code-pro/OTF/SourceCodePro-Medium.otf') format('opentype'),
  url('http://adobe-fonts.github.io/source-code-pro/TTF/SourceCodePro-Medium.ttf') format('truetype');
}

body {
  padding-top: 100px;
  font-family:'Source Code Pro', monospace !important;
  background-color: #1E1E1E !important;
  color: #eee;
  font-size: 18px;
}
.gold {
  color: #FFB964 !important;
}

.symbol {
  color: #BED6FF !important;
}

.comments {
  color: #888888;
}

.keyword {
  color: #79ABFF!important;
}


body {
  padding-top: 120px;
}
#inp {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  width: 99%;
  height: 100px;
  background: black;
  border: none;
  color: gray;
  font-size: 18px;
  padding: 5px;
}
.message {
  padding: 10px 0;
  border-bottom: 1px solid #999;
}
